# dependencies
node_modules/
package-lock.json

# production
build/
dist/
out/

# misc
.DS_Store
!.env.exmaple
.env
.env.*

npm-debug.log*
.pnpm-debug.log*

# nextjs
/.next/

# vercel
.vercel/

# typescript
next-env.d.ts
